<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, shrink-to-fit=no">

<meta name="description" content="Ecommerce app template description can be written">
<meta name="keywords" content="Ecommerce, e-auction, e-commerce, online shopping">
<meta name=”theme-color” content=”#0d6efd>
<meta name="apple-mobile-web-app-capable" content="yes">

<title>Annagraha</title>

<link href="images/favicon.ico" rel="shortcut icon" type="image/x-icon">

<!--  Bootstrap -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css"/>

<!-- custom style -->
<link href="css/ui.css" rel="stylesheet" type="text/css"/>

<!-- Fonticon -->
<link href="fonts/material-icon/css/round.css" rel="stylesheet" type="text/css" />

</head>
<body>


<header class="app-header ondark bg-primary fixed-top">

	<a href="javascript:history.go(-1)" class="btn-header">
		<i class="material-icons md-arrow_back"></i>
	</a>

	<h5 class="title-header"> My cart  </h5>

	<div class="header-right">

	</div>

</header> <!-- app-header.// -->

<main class="app-content">


			<section class="px-3 mt-3">

				<figure class="itemside item-cart mb-3">
					<div class="aside"><img src="images/items/antracol.jpg" class="rounded img-lg"></div>
					<figcaption class="info">
						<a href="#" class="title">Antracol</a>
						<span class="price">$19.95</span> <small class="text-muted"> / per item</small>

						<div class="d-flex mt-2">
							<div class="me-2">
								<a href="#" class="btn-sm btn btn-light">
									<i class="fa fa-trash"></i>  Delete
								</a>
							</div>
							<div>
								<select class="form-select form-select-sm">
									<option>1 pcs</option>
									<option>2 pcs</option>
									<option>3 pcs</option>
								</select>
							</div>
						</div>
					</figcaption>
				</figure>
			</section> <!-- section-products  .// -->

			<hr class="divider">

<section class="p-3">

	<p class="mb-0 clearfix"> Total Price:  <var class="h5 float-end">$19.95</var> </p>
	<p class="mb-0 clearfix"> Shipping:  <var class="h5 float-end">$10</var> </p>
	<p class="mb-0 clearfix"> Discount:  <var class="h5 float-end">$5.95</var> </p>
	<p class="mb-0 clearfix"> Total: <var class="h5 float-end">$24.00</var> </p>

	<p class="mb-0 clearfix"> Expected Delivery:  <span class="float-end"> 4 December 2021</span> </p>

	<hr>

	<a href="order1.html" class="btn btn-primary w-100 mb-2"> Buy Now </a>

	<a href="homepage.html" class="btn btn-light w-100">  Back </a>

	<br> <br>


</section>

</main> <!-- app-content.// -->

<nav class="nav-bottom">
	<a href="homepage.html" class="nav-link">
		<i class="icon material-icons md-home"></i><span class="text">Home</span>
	</a>
	<a href="resource.html" class="nav-link">
		<i class="icon material-icons md-apps"></i><span class="text">Resource</span>
	</a>
	<a href="cart.html" class="nav-link">
		<i class="icon material-icons md-shopping_cart"></i><span class="text">My cart</span>
	</a>
	<a href="learning.html" class="nav-link">
		<i class="icon material-icons md-favorite"></i><span class="text">Learning Zone</span>
	</a>
</nav> <!-- nav-bottom -->


<!-- jQuery -->
<script src="js/jquery-3.5.0.min.js" type="text/javascript"></script>

<!-- Bootstrap 5 JS -->
<script src="js/bootstrap.bundle.js" type="text/javascript"></script>

<!-- custom javascript -->
<script src="js/script.js" type="text/javascript"></script>

<!-- PWA -->
<script src="js/pwa.js"></script>

</body>

</html>